*
{
    padding: 0;
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1f2531;
}
.navbar
{
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0em;
    word-spacing: 0px;
    font-style: normal;
    font-weight: 600;
    color: #1f2531;
}
.navbar #active
{

    display: flex;
    flex-direction: column;
}
.navbar #active p 
{
    color: #00bbee;
}
.navbar p:hover
{
    cursor: pointer;
}
.navbar #active .underline
{
    height: 2px;
    width: auto;
    background-color: #00bbee;
    margin-top: 1rem;
}

.left-sidebar
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.dropdown
{
    width: 80px;
    height: 110px;
    background-color: #005aac;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dropdown img
{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 25px;
}
.logo img
{
    width: 260px;
    cursor: pointer;
}


.middle-navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-navbar .navbar p:hover
{
    color: #00bbee;
}




.right-sidebar
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}
.searchbar img 
{
    width: 20px;
}
.regd-btn
{
    background-color: blue;
    padding: 15px 30px;
    border-radius: 6px 6px 6px 0px;
    font-size: smaller;
}
.regd-btn p 
{
    color: #fff;
}









.hero-section
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .website-headline
{
    max-width: 1200px;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
}
.hero-section .website-headline h1
{
    font-size: 40px;
    line-height: 1.25em;
}






.about-section
{
    background-color: #F2F5FA;
    display: flex;
    justify-content: center;
}
.about-container
{
    max-width: 1200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 8rem;
    margin-bottom: 4rem;

}
.about-container .left-img
{
    flex: 1;
    /* margin-top: 10rem; */
}
.about-container .left-img img
{
    height: 500px;
    border-radius: 0px 0px 0px 60px;
}
.about-container .right-info
{
    flex: 1;
}
.about-container .right-info p 
{
    width: 510px;
    font-size: 14pt;
    line-height: 1.875em;
}
.about-container .right-info p span:nth-child(1)
{
    margin-bottom: 50px;
}










.domain-section
{
    background-color: #F2F5FA;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.domain-container
{
    width: 1200px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 13.5rem;
}
.domain-container img 
{
    width: 120px;
    opacity: 0.4;
    transition: filter 0.3s ease; 
}
.domain-container img:hover 
{
    opacity: 1;
    filter: brightness(100%);
    cursor: pointer;
}










.about2-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about2-headline
{
    font-size: 23px;
    margin-bottom: 5rem;
}
.about2-container
{
    max-width: 1200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 4rem;
}
.about2-container .about2-left img
{
    width: 530px;
}

.about2-container .about2-right p 
{
    width: 510px;
    font-size: 14pt;
    line-height: 1.875em;
}











.faq-container {
    display: flex;
    position: relative;
    padding: 5rem;
}

.faq-left {
    width: 800px;
    background-color: #005aac;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    position: relative;
    z-index: 1; 
    margin-right: -80px; 
    margin-top: 50px;
}
.faq-headings h1
{
    font-size: 40px;
    color: #00FCFF;
    margin-top: 2rem;
}


.faq-right 
{
    z-index: 0; 
}

.faq 
{
    background-color: #fff;
    padding: 1rem;
    border-radius: 3px;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.faq:hover
{
    cursor: pointer;
}

.bullet-point 
{
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid black;
    margin-right: 6px;
}










.achievements-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.achievements-container
{
    width: 1200px;
    margin: 0px 15rem;
    display: flex;
    justify-content: space-between;
}
.achievements
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.achievements p
{
    font-weight: bold;
    font-size: 18px;
}
.stroke-text
{
    font-size: 80px;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#005aac;
}