*
{
    padding: 0;
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1f2531;
}
.navbar
{
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0em;
    word-spacing: 0px;
    font-style: normal;
    font-weight: 600;
    color: #1f2531;
}
.navbar #active
{

    /* border-bottom: #00bbee solid; */
    display: flex;
    flex-direction: column;
}
.navbar #active p 
{
    color: #00bbee;
}
.navbar #active .underline
{
    height: 1px;
    width: auto;
    background-color: #00bbee;
}

.left-sidebar
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.dropdown
{
    width: 80px;
    height: 110px;
    background-color: #005aac;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown img
{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 25px;
}
.logo img
{
    width: 260px;
}


.middle-navbar
{

}




.right-sidebar
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}
.searchbar img 
{
    width: 20px;
}
.regd-btn
{
    background-color: blue;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: smaller;
}
.regd-btn p 
{
    color: #fff;
}









.hero-section
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .website-headline
{
    max-width: 1200px;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
}
.hero-section .website-headline h1
{
    font-size: 40px;
    line-height: 1.25em;
}






.about-section
{
    background-color: #F2F5FA;
    display: flex;
    justify-content: center;
}
.about-container
{
    max-width: 1200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 8rem;
    margin-bottom: 4rem;

}
.about-container .left-img
{
    flex: 1;
    /* margin-top: 10rem; */
}
.about-container .left-img img
{
    height: 500px;
    border-radius: 0px 0px 0px 60px;
}
.about-container .right-info
{
    flex: 1;
}
.about-container .right-info p 
{
    width: 510px;
    font-size: 14pt;
    line-height: 1.875em;
}
.about-container .right-info p span:nth-child(1)
{
    margin-bottom: 50px;
}










.domain-section
{
    background-color: #F2F5FA;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.domain-container
{
    width: 1200px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 13.5rem;
}
.domain-container img 
{
    width: 120px;
    opacity: 0.4;
    transition: filter 0.3s ease; 
}
.domain-container img:hover 
{
    opacity: 1;
    filter: brightness(100%);
    cursor: pointer;
}